.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 5px;
  padding: 10px;
  width: 80vw;
  margin-top: 50px;
}

.main-title {
  color: rgb(255, 255, 255);
}
.button-container,
.info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin: 0px 5px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
  background-color: transparent;
}

/* Todo Edit Button  */
.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  text-transform: uppercase;
}
.edit:hover {
  background-color: rgb(141, 181, 145);
  color: #fff;
}
.edit:active {
  border: 1.5px solid rgb(141, 181, 145);
  background-color: rgb(141, 181, 145);
  color: #fff;
}

/* Todo Delete Button */
.delete {
  border: 1.5px solid rgb(248, 106, 84);
  color: rgb(248, 106, 84);
  text-transform: uppercase;
}
.delete:hover {
  background-color: rgb(248, 49, 19);
  color: #fff;
}
.delete:active {
  border: 1.5px solid rgb(248, 106, 84);
  background-color: rgb(248, 106, 84);
}

/* Todo Create Button */
.create {
  border: 1.5px solid rgb(108, 115, 148);
  color: rgb(76, 88, 151);
  text-transform: uppercase;
  background-color: transparent;
}
.create:hover {
  background: rgb(41, 47, 86);
  background: linear-gradient(
    90deg,
    rgba(41, 47, 86, 1) 0%,
    rgba(48, 51, 90, 1) 11%,
    rgba(55, 55, 93, 1) 18%,
    rgba(61, 59, 97, 1) 24%,
    rgba(68, 64, 100, 1) 31%,
    rgba(74, 68, 104, 1) 35%,
    rgba(86, 77, 111, 1) 41%,
    rgba(86, 77, 111, 1) 45%,
    rgba(91, 91, 141, 1) 77%,
    rgba(89, 91, 143, 1) 82%,
    rgba(87, 90, 144, 1) 87%,
    rgba(85, 90, 145, 1) 91%,
    rgba(84, 90, 146, 1) 94%,
    rgba(82, 89, 148, 1) 97%,
    rgba(76, 88, 151, 1) 99%,
    rgba(108, 115, 148, 1) 100%
  );
  color: #fff;
}
.create:active {
  border: 1.5px solid rgb(108, 115, 148);
  background-color: rgb(108, 115, 148);
  color: #fff;
}

/* Signout Button from List Hearder */
.signout {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163);
  color: rgb(255, 94, 94);
  text-transform: uppercase;
}
.signout:hover {
  background-color: rgb(255, 94, 94);
  border: 1.5px solid rgb(255, 94, 94);
  color: #fff;
}
.signout:active {
  background-color: rgb(175, 81, 81);
  border: 1.5px solid rgb(175, 81, 81);
  color: #fff;
}

::placeholder {
  height: 40px !important;
  color: rgb(158, 169, 220);
  font-weight: 500;
}

/*generated with Input range slider CSS style generator (version 20211225)
https://toughengineer.github.io/demo/slider-styler*/
input[type="range"].styled-slider {
  appearance: none;
  height: 2.2em;
  -webkit-appearance: none;
  border: none;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: linear-gradient(to right, #acb6eb, #6f4f9d);
  border: none;
  box-shadow: 0 0 2px #aab3e2;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b0a4e7;
  border-radius: 0.5em;
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  box-shadow: none;
}

input[type="range"].styled-slider::-webkit-slider-thumb:hover {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider::-webkit-slider-thumb:active {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:active::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

input[type="range"].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

input[type="range"].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

/*mozilla*/
input[type="range"].styled-slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: linear-gradient(to right, #acb6eb, #6f4f9d);
  border: none;
  box-shadow: 0 0 2px #aab3e2;
}

input[type="range"].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border: 1px solid #b0a4e7;
  border-radius: 0.5em;
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  box-shadow: none;
}

input[type="range"].styled-slider::-moz-range-thumb:hover {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:hover::-moz-range-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider::-moz-range-thumb:active {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:active::-moz-range-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

input[type="range"].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

input[type="range"].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(#b0a4e7, #b0a4e7) 0 / var(--sx) 100% no-repeat,
    linear-gradient(to right, #aab3e2, #b0a4e7);
}

/*ms*/
input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: linear-gradient(to right, #acb6eb, #6f4f9d);
  border: none;
  box-shadow: 0 0 2px #aab3e2;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border: 1px solid #b0a4e7;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-thumb:hover {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:hover::-ms-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider::-ms-thumb:active {
  background: linear-gradient(to right, #aab3e2, #6f4f9d);
}

input[type="range"].styled-slider:active::-ms-track {
  background: linear-gradient(to right, #aab3e2, #b0a4e7);
  border-color: #aab3e2;
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #b0a4e7;
  border: 1px solid #b0a4e7;
  border-right-width: 0;
}

input[type="range"].styled-slider.slider-progress:hover::-ms-fill-lower {
  background: #b0a4e7;
  border-color: #aab3e2;
}

input[type="range"].styled-slider.slider-progress:active::-ms-fill-lower {
  background: #b0a4e7;
  border-color: #aab3e2;
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rdba(0, 0, 0, 0.05) 1px solid;
  color: rgb(76, 88, 151);
}

/* List Item */
.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

/* Tick Checkmark Svg Style */
.tick {
  padding: 10px;
}
/* .tick path {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 32px;
} */

/* Modal */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 50vw !important;
  background-color: #fff !important;
  border-radius: 10px !important;
  padding: 40px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px !important;
}
.modal .form-title-container {
  display: flex !important;
  justify-content: space-between !important;
  /* color: rgb(108, 115, 148); */
}
.form-title-container > h3 {
  color: rgb(76, 88, 151) !important;
}

.modal .form-title-container button {
  background-color: transparent !important;
  border: none !important;
  font-size: 16px !important;
  color: rgb(76, 88, 151);
  font-size: 30px;
}

.form-title-container button svg {
  width: 40px;
  height: 40px;
  viewbox: 0 0 24 24;
  fill: none;
  stroke: #4c5897;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.form-title-container button svg:hover {
  width: 40px;
  height: 40px;
  viewbox: 0 0 24 24;
  fill: none;
  stroke: rgb(255, 50, 50);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.form-title-container button svg:active {
  width: 40px;
  height: 40px;
  viewbox: 0 0 24 24;
  fill: none;
  stroke: rgb(255, 50, 50);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

input {
  margin: 11px 0px;
  padding: 12px 16px;
  border-radius: 12px;
  color: rgb(76, 88, 151);
  background-color: transparent;
  outline: none;
  outline-color: rgb(108, 115, 148);
  transition: outline-color 0.5s ease-out;
  border: 1.5px solid rgb(108, 115, 148);
}

input:focus {
  outline: solid;
  outline-width: 1.5px;
  outline-color: rgb(68, 82, 149);
  color: rgb(76, 88, 151);
  border: 1.5px solid rgb(68, 82, 149);
}

#todo-input:focus {
  outline: none !important;
  outline-color: rgb(108, 115, 148);
  height: 40px;
  transform: scale(1.1);
}

.modal form {
  display: flex !important;
  flex-direction: column !important;
}

.modal label {
  font-size: 13px !important;
}

.auth-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.auth-container-box {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 325px;
}

.auth-container-box form h2 {
  color: rgb(76, 88, 151);
  margin-bottom: 20px;
}

.auth-options {
  display: flex;
}

.auth-options button {
  padding: 10px;
  width: 50%;
  border: none;
}

.auth-options button:active {
  padding: 10px;
  width: 50%;
  border: none;
  color: rgb(255, 255, 255) !important;
}
